.project {
  composes: listItem from "../../components/ContentWrapper/ContentWrapper.module.css";
  color: white;
}

.project:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.pending {
  composes: project;
  color: yellow;
}

.paused {
  composes: project;
  color: gray;
}

.completed {
  composes: paused;
  text-decoration: line-through;
}

.frequency {
  float: right;
}

.frequency button {
  padding: 0 0.2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: gray;
  border: none;
}

.frequency button:hover {
  color: white;
}

.info {
  font-size: 1rem;
  display: flex;
}

.label span {
  font-style: italic;
}

.actions button {
  margin-left: 1rem;
  padding: 0;
  color: yellow;
  opacity: 0.6;
  font-size: inherit;
  border: none;
}

.actions button:hover {
  opacity: 1;
}
