.date {
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  font-size: 1rem;
  color: inherit;
  border: none;
}

.date span:first-child {
  padding: 0.22rem 0.8rem 0 0;
}

.date:hover {
  color: red;
}
