.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
}

.actions span {
  color: gray;
  transition: 0.5s;
  cursor: pointer;
}

.actions span:hover {
  color: white;
}
