.frame {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 1rem;
  padding: 3rem;
  border: 0.75rem solid white;
  background-color: rgba(0,0,0,0.6);
}
