@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mfecv8');
  src:  url('fonts/icomoon.eot?mfecv8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mfecv8') format('truetype'),
    url('fonts/icomoon.woff?mfecv8') format('woff'),
    url('fonts/icomoon.svg?mfecv8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-right:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e909";
}
.icon-aircraft-landing:before {
  content: "\e905";
}
.icon-aircraft-take-off:before {
  content: "\e906";
}
.icon-block:before {
  content: "\e907";
}
.icon-circle-with-minus:before {
  content: "\e901";
}
.icon-circle-with-plus:before {
  content: "\e908";
}
.icon-inbox:before {
  content: "\e904";
}
.icon-leaf:before {
  content: "\e902";
}
.icon-light-up:before {
  content: "\e903";
}
