.focusitem {
  color: yellow;
  clear: both;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.content {
  margin-left: 3rem;
  padding-right: 1rem;
}

.processed {
  color: white;
  opacity: 0.5;
}

.focused {
  font-size: 3rem;
}

.eligible {
  color: white;
  opacity: 1;
}

.delete {
  color: red;
}

.done {
  color: white;
  opacity: 0.3;
  text-decoration: line-through;
}
