.focusitem {
  color: yellow;
  clear: both;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.processed {
  color: white;
  opacity: 0.5;
}

.focused {
  margin-top: 15vh;
  font-size: 4rem;
}

.eligible {
  color: white;
  opacity: 1;
}

.delete {
  color: red;
}

.done {
  color: white;
  opacity: 0.3;
  text-decoration: line-through;
}
