.focusitem {
  /* display: grid;
  grid-template-columns: 5rem 1fr; */
  color: grey;
  clear: both;
}

.delete {
  font-size: 3rem;
  margin-top: 1rem;
  float:left;
  cursor: pointer;
  /* align-self: start; */
  /* justify-self: center; */
}

.focusitem:first-child {
  color: #fff;
}
