.focusitem {
  composes: listItem from "../ContentWrapper/ContentWrapper.module.css";
  color: yellow;
}

.processed {
  color: grey;
}

.focused {
  margin-top: 15vh;
  font-size: 4rem;
}

.eligible {
  color: white;
  opacity: 1;
}

.delete {
  color: red;
}

.done {
  color: grey;
  text-decoration: line-through;
}
