.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1.5rem 1rem 0;
}

.actions button {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: grey;
  border: 1px solid;
}

.actions button:hover {
  color: white;
}
